body {
  font-family: Segoe UI;
}

:root {
  --main-color: rgba(77, 49, 71, 1);
  --second-color: rgba(134, 106, 128, 1);
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/images/background-img.jpeg');
  background-size: cover;
}

.login-container {
  background: white;
  padding: 20px;
  text-align: center;
  width: 480px;
  height: 340px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  box-shadow: 0px 24px 64px 0px rgba(38, 33, 74, 0.1);
}

#bem-vindo-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
}

#login-text {
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
  text-align: center;
}

#login-button {
  width: 360px;
  height: 50px;
  top: 266px;
  left: 60px;
  gap: 0px;
  border-radius: 9px;
  opacity: 0px;
  background-color: var(--main-color);
  cursor: pointer;
  color: white;
}

#login-button:hover {
  background-color: var(--second-color);
}

#email-text, #password-text {
  height: 12px;
  font-size: 12px;
  line-height: 11px;
  text-align: left;
  width: 85px;
  text-align: right;
  margin-right: 10px;
}

#password-text {
  height: 12px;
  font-size: 12px;
  line-height: 11px;
  text-align: left;
  width: 105px;
  text-align: right;
  margin-right: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-icon .icon {
  position: absolute;
  left: 60px;
  color: #999;
}

#email-input, #password-input {
  width: 330px;
  margin-left: 55px;
  padding: 8px 8px 8px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input::placeholder {
  color: #999;
}



.sidebar {
  width: 80px;
  height: 1086px;
  padding: 0px 0px 771px 0px;
  gap: 0px;
  opacity: 0px;
  box-shadow: 7px 4px 18.4px 0px rgba(0, 107, 215, 0.15);

  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar-logo {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.icon-background {
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: relative;
  margin-top: 20px;
}

.icon-background svg {
  z-index: 1;
}