body {
  font-family: Segoe UI;
}

:root {
  --main-color: rgba(77, 49, 71, 1);
  --second-color: rgba(134, 106, 128, 1);
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/images/background-img.jpeg');
  background-size: cover;
}

.login-container {
  background: white;
  padding: 20px;
  text-align: center;
  width: 480px;
  height: 340px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  box-shadow: 0px 24px 64px 0px rgba(38, 33, 74, 0.1);
}

#bem-vindo-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
}

#login-text {
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
  text-align: center;
}

#login-button {
  width: 360px;
  height: 50px;
  top: 266px;
  left: 60px;
  gap: 0px;
  border-radius: 9px;
  opacity: 0px;
  background-color: var(--main-color);
  cursor: pointer;
  color: white;
}

#login-button:hover {
  background-color: var(--second-color);
}

#email-text{
  height: 12px;
  font-size: 12px;
  line-height: 11px;
  width: 85px;
  text-align: right;
}

#password-text {
  height: 12px;
  font-size: 12px;
  line-height: 11px;
  width: 105px;
  text-align: right;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-icon .icon {
  position: absolute;
  left: 60px;
  color: #999;
}

#email-input, #password-input {
  width: 330px;
  margin-left: 55px;
  padding: 8px 8px 8px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#email-input::placeholder, #password-input::placeholder {
  color: #999;
}



.sidebar {
  width: 5%;
  height: 100%;
  box-shadow: 7px 4px 18.4px 0px rgba(0, 107, 215, 0.15);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar-logo {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.icon-background-sidebar {
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: relative;
  margin-top: 20px;
}

.icon-background-sidebar svg {
  z-index: 1;
}

.rectangle {
  width: 1350px;
  height: 650px;
  margin: 32px 0 0 104px;
  border-radius: 8px;
  padding: 20px;
  overflow: auto;
  box-shadow: 7px 4px 18.4px 0px rgba(0, 107, 215, 0.15);
  background-color: rgba(250, 250, 250, 1)
}

.clients-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.client-card {
  background: rgba(255, 255, 255, 1);
  padding: 1px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 210px;
  height: 270px;
  text-align: center;
  cursor: pointer;
}

.client-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.client-initials {
  background: var(--main-color);
  color: white;
  font-size: 17px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 12px;
}

.client-recurrence-box {
  width: 140px;
  height: 45px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(53, 53, 53, 0.12);
  color: #999;
  margin-bottom: 30px;
  margin-top: 12px;
}

.client-actions {
  display: flex;
  justify-content: space-evenly;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: rgba(236, 236, 236, 1);
}

.copy-email-button, .whatsapp-button  {
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  color: rgba(59, 63, 92, 1);
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.copy-email-button .icon-email-copy, .whatsapp-button .icon-whatsapp {
  margin-right: 8px;
}

.icon-email-copy, .icon-whatsapp {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.client-name {
  font-size: 18px;
  font-weight: bold;
}

.client-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-details p {
  margin: 5px;
}

#first-trip-date, #recurrence-value {
  color: var(--second-color);
  font-size: 12px;
}

#input-search {
  width: 30%;
  padding: 8px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(140, 140, 140, 0.13);
  padding-left: 30px;
}

.input-with-icon-search {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-icon-search .icon-search {
  position: absolute;
  left: 10px;
  top: 7px;
  color: #999;
}

#input-search::placeholder {
  color: #999;
}

.search-container {
  display: flex;
}

.Toastify__toast--success {
  background: linear-gradient(to right, #00b09b, #96c93d);
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.Toastify__toast--error {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  color: white;
  font-family: 'Segoe UI', sans-serif;
}


body {
  font-family: Segoe UI;
}

:root {
  --main-color: rgba(77, 49, 71, 1);
  --second-color: rgba(134, 106, 128, 1);
}

.main-container {
  display: flex;
}

.rectangle {
  flex-grow: 1;
  margin: 32px 0 0 104px;
  border-radius: 8px;
  padding: 20px;
  overflow: auto;
  box-shadow: 7px 4px 18.4px 0px rgba(0, 107, 215, 0.15);
  background-color: rgba(250, 250, 250, 1);
}



.client-info-container {
  padding: 20px;
}

.client-header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.client-name-id {
  display: flex;
  align-items: center;
  margin-right: 750px;
  font-size: 14px;
}

.client-name-id h1 {
  display: flex;
  align-items: center;
}

.divider-2 {
  margin: 0 10px;
  color: black;
  font-weight: bold;
}

.add-trip-button {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.client-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.client-infos, .client-locations {
  width: 65%;
}

.client-infos-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-group-2 {
  display: flex;
  flex-direction: column;
}

.form-group-2 label {
  font-weight: bold;
}

.form-group-2 input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.client-locations-container {
  margin-top: 20px;
}

.client-locations {
  width: 350px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 7px 4px 18.4px 0px rgba(0, 107, 215, 0.15);
  background-color: rgba(250, 250, 250, 1);
}


.client-locations li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 15px;
}

.client-history {
  margin-top: 20px;
}

.history-entry {
  width: 100%;
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-divider {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
  margin-top: -10px;
  margin-left: 10px;
}




